{% extends "layout.html" %}
{% block page_content %}
    <h2>People who have held the ministry: {{ ministry }}</h2>
    <table>
        <tr>
            <th>Common name</th>
            <th>Birth place</th>
        </tr>
        {% for person in ministers %}
            <tr>
                <td>{{ person.vc_prenominal }} {{ person.vc_common_name }} {{ person.vc_surname }} </td>
                <td>{{ person.vc_birth_place }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
