{% extends "layout.html" %}
{% block content %}
<h2>{{person.vc_common_name}} {{person.vc_surname}}</h2>
<h4>Full Name</h4>
<div>{{person.vc_prenominal}} {{person.vc_given_names}} {{person.vc_surname}} {{person.vc_postnominal}}</div>
<h4>Life</h4>
{% if person.date_birth %}
    <div>Born {{person.date_birth|date_format}} {{person.vc_birth_place}}</div>
{% endif %}
{% for marriage in marriages %}
    <div>
        {% if marriage.num_year_marriage %}
            Married {{marriage.num_year_marriage}} to
        {% else %}
            Partnered with
        {% endif %}
        {{marriage.person.vc_common_name}} {{marriage.person.vc_surname}} and had {{marriage.num_children}} children.
    </div>
{% endfor %}
{% if person.date_death %}
    <div>Died {{person.date_death|date_format}} age {{person.age_death}}</div>
{% endif %}
{% if ministries %}
    <h3>Ministries</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Ministry</th>
            <th>Date start</th>
            <th>Date end</th>
            <th>State represented</th>
            <th>Party</th>
        </tr>
        {% for ministry in ministries %}
            <tr>
                <td>{{person.vc_common_name}} {{person.vc_surname}}</td>
                <td>{{ministry.vc_ministry}}</td>
                <td class="date">{{ministry.date_start|date_format}}</td>
                <td class="date">{{ministry.date_end|date_format}}</td>
                <td>{{ministry.vc_state_represent}}</td>
                <td>{{ministry.vc_party}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if concurrent_ministries %}
    <h3>Concurrent Ministries</h3>
    <table cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Ministry</th>
            <th>Date start</th>
            <th>Date end</th>
            <th>State represented</th>
            <th>Party</th>
        </tr>
        {% for ministry in concurrent_ministries %}
            <tr>
                <td><a href="{{url_for('view_person', id_person=ministry.person.id)}}" title="view person">{{ministry.person.vc_common_name}} {{ministry.person.vc_surname}}</a></td>
                <td>{{ministry.vc_ministry}}</td>
                <td class="date">{{ministry.date_start|date_format}}</td>
                <td class="date">{{ministry.date_end|date_format}}</td>
                <td>{{ministry.vc_state_represent}}</td>
                <td>{{ministry.vc_party}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if recreations %}
    <h3>Recreations</h3>
    {% for recreation in recreations %}
        <div>{{recreation.vc_recreation}}</div>
    {% endfor %}
{% endif %}
{% endblock %}
